@charset "UTF-8";

/* 共通部分
----------------------------*/
html {
	font-size: 100%;	
}
body {
	font-family: "Zen Kaku Gothic New", sans-serif;
	font-size: 18px;
	color: #2b2741;
	line-height: 1.7;
	margin: 0;
	padding: 0;
	background-color: #FAFCDD;
	letter-spacing: 0.05em;
}
footer {
	display: block;
	text-align: center;
	font-family: "Walter Turncoat", cursive;
	color: #F96D4C;
	background-color: #FAFCDD;
	padding: 10px 0;
	letter-spacing: 0.1em;
}
.error-mode {
	display: flex;
	justify-content: center;
	align-items: center;
}
.exception-e {
	display: block;
	font-size: 1.6rem;
	text-align: center;
}

/* index.php
-----------------------------*/
.bar {
	position: relative;
	font-family: "Walter Turncoat", cursive;
	font-size: 18px;
	color: #FAFAFA;
	padding: 3px;
	background-color: #b5c6fa;
	border-bottom: 3.5px #95a4d0 solid;
	white-space: nowrap;
	overflow: hidden;
	letter-spacing: 0.1em;
}
.hero {
	background-image: url(../images/hero_section.png);
	background-color: #ced2dd;
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 120px 20px;
	text-align: center;
	position: relative;
	margin: 30px;
	border-radius: 50px;
	border :4px #fe8469 dotted;
}
.yurume-title {
	font-family: "Zen Maru Gothic", sans-serif;
	font-size: 2.8rem;
	width: 100%;
	padding-bottom: 3px;
}
.about {
	padding-top: 10px;
}
.scroll {
	font-family: "Walter Turncoat", cursive;
	letter-spacing: 0.5em;
	color: #F96D4C;
	text-align: center;
	background-color: #fcf0dc;
	margin-top: 60px;
	padding: 25px;
}
.index-main {
	background-color: #FFE5DB;
	padding-bottom: 60px;
}
.list {
	max-width: 1000px;
	margin: 0 auto;
	padding: 60px 20px 0;
}
.title {
	text-align: center;
	font-family: "Zen Maru Gothic", sans-serif;
	font-size: 30px;
	color: #FAFAFA;
	margin: 10px auto 20px;
	max-width: 600px;
	border-bottom : 4px #95a4d0 solid;
	background-color: #b5c6fa;
	border-radius: 50px;
}
.list p {
	text-align: center;
	padding-bottom: 20px;
	color: #848198;
}
.grid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(3, 1fr);
}
.item {
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: 15px;
	border-top: 3px #d5b5aa solid;
	border-left: 3px #EDD1C7 solid;;
}
.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: transform 0.3s ease;
}
.item:hover img {
	transform: scale(1.05);
}

/* モバイル版 index.php
--------------------------------- */
@media (max-width: 768px) {

	.yurume-title {
	font-size: 2.4rem;
	}
	.about p {
	font-size: 0.95rem;
	}
	.list p {
	font-size: 0.8rem;
	}
	.grid {
	grid-template-columns: repeat(2, 1fr);
	}

}

/* illust_detail.php
------------------------------------ */
.detail-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.illust-detail-body {
	flex: 1;
	background-color: #FFE5DB;
	min-height: 100vh;
	padding-top: 40px;
}
.disp {
	display: flex;
	gap: 40px;
	align-items: flex-start;
	margin: 0 auto 60px;
	max-width: 1200px;
	padding: 40px;
	background-color: #FAFCDD;
	border-radius: 80px;
}
.disp-pic {
	flex: 1;
}
.disp img {
	border-radius: 50px;
	border: 4px #ffa48f solid;
}
.disp-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 15px;
}
.disp-title {
	font-family: "Zen Maru Gothic", sans-serif;
	font-size: 1.5rem;
	margin-bottom: 5px;
}
.disp-pic img {
	width: 100%;
	height: auto;
	display: block;
}
.disp-text-title, .disp-text-date, .disp-text-comment {
	border: 2.5px #ffa48f solid;
	border-radius: 30px;
	background-color: #fafafa;
	padding: 10px 20px 13px;
}
.disp-contents {
	margin-left: 15px;
	color: #5b5966;
}
.back-btn {
	display: block;
	width: fit-content;
	margin: 40px auto 100px;
	justify-content: center;
	font-family: "Zen Maru Gothic", sans-serif;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	color: #fafafa;
	background-color: #b1e3a3;
	border-bottom: 4px #8fba83 solid;
	border-radius: 50px;
	padding: 10px 80px;

}

/* モバイル版 illust_detail.php
--------------------------------- */
@media (max-width: 768px) {

	.title {
		width: 90%;
	}
	.disp {
		flex-direction: column;
		max-width: 90%;
	}
	.disp-pic,
	.disp-text {
		width: 100%;
	}

}
